.header {
  border-bottom: 1px solid #ececec;
}

.header__navigation,
.header-menu,
.header__nav-list,
.header__contacts-list {
  display: flex;
  align-items: center;
}

.header__navigation {
  @media screen and (max-width: 767px) {
    padding: 10px 0;
  }
}

.header-menu {
  width: 100%;
}

@media (max-width: 767px) {
  .header-menu {
    display: none;
  }
}

.header__nav-item:not(:last-child) {
  margin-right: 50px;
}

.header__nav-link {
  display: block;
  padding: 32px 0;
  position: relative;

  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: var(--title-text-color);
  transition: color var(--time-transition) var(--time-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__nav-link--current {
  color: var(--accent-color);

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;

    border-radius: 2px;
    background-color: var(--accent-color);

    animation-name: current-underline;
    animation-duration: 350ms;
    animation-timing-function: linear;
  }
}

@keyframes current-underline {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(0.5);
  }
  100% {
    transform: scaleX(1);
  }
}

.header__contacts-list {
  flex-direction: column;
  align-items: flex-start;

  margin-left: auto;
  @include for-desktop {
    flex-direction: row;
  }
}

.header__contacts-item:not(:last-child) {
  @include for-desktop {
    margin-right: 30px;
  }
}

.header__contacts-link {
  display: flex;
  align-items: center;
  padding: 5px 0;

  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: var(--main-text-color);

  transition: color var(--time-transition) var(--time-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @include for-desktop {
    padding: 32px 0;
  }
}

.header__contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}
