.hero {
  background-color: var(--secondary-background-color);
}

.hero__background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin: 0 auto;
  padding: 118px 0;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-480.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-480x2.jpg);
    }
  }

  @include for-phone {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-768.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../images/hero-768x2.jpg);
      }
    }
  }

  @include for-desktop {
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-1600.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../images/hero-1600x2.jpg);
      }
    }
  }
}

.hero__title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);

  @include for-desktop {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  @include main-button;
  margin: 0 auto;
  padding: 10px 24px;

  @include for-desktop {
    padding: 10px 32px;
  }
}
