.our-directions-section {
  padding: 0 0 94px 0;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.our-directions {
  display: flex;
}

.our-directions__item {
  min-width: 370px;
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.our-directions__text {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 0;

  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
  background-color: rgba(47, 48, 58, 0.8);
}
