.advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages__item {
  list-style-type: none;
  max-width: 450px;

  @include for-tablet {
    width: 354px;
  }
  @include for-desktop {
    width: 270px;
  }
}

.advantages__thumb {
  @include centeredFlex();
  padding: 25px 0;

  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages__title {
  text-align: center;
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;
  font-size: inherit;
  @include for-tablet {
    text-align: left;
  }
}

.advantages__text {
  line-height: 1.71;
}

.adnvantages__icon {
  width: 70px;
  height: 70px;
}
