.projects-filtr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 30px;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 420px;
    justify-content: start;
    margin-bottom: 40px;
  }
  @include for-desktop {
    margin-bottom: 50px;
  }
}

.projects-filtr__button {
  padding: 6px 22px;

  border: none;
  border-radius: 4px;
  font-family: inherit;
  background-color: var(--section-background-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color var(--time-transition) var(--time-func),
    color var(--time-transition) var(--time-func),
    box-shadow var(--time-transition) var(--time-func);

  &--active {
    background-color: var(--accent-color);
    color: var(--main-background-color);
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
