.sign-us {
  @include for-desktop {
    margin-left: auto;
  }
}

.sign-us__form {
  @include for-desktop {
    display: flex;
    gap: 12px;
  }
}

.sign-us__label {
  display: block;

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
}

.sign-us__input {
  width: 450px;
  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @include for-desktop {
    width: 358px;
  }

  height: 50px;
  padding-left: 16px;

  background-color: #2f303a;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.25;
  color: var(--main-text-color);

  &:focus-within {
    background-color: var(--main-background-color);
  }

  &::placeholder {
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus-within::placeholder {
    color: var(--main-text-color);
  }
}

.sign-us-button {
  @include main-button;
  display: inline-flex;
  gap: 10px;
  padding: 10px 28px;
}

.sign-us__icon {
  width: 24px;
  height: 24px;
  @include centeredFlex();
  fill: var(--main-background-color);
}
