:root {
    --main-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --accent-color: #2196f3;
    --section-background-color: #f5f4fa;
    --our-contacts-color: rgba(255, 255, 255, 0.6);
    --main-text-color: #757575;
    --title-text-color: #212121;
    --logo-accent-color: #000000;
    --time-func: cubic-bezier(0.4, 0, 0.2, 1);
    --time-transition: 250ms;
}